@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root{
    --HeaderColorBlue:#0260FD;
    --HeaderColorRed:#B3001E;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: var(--HeaderColorRed);    
    align-items: center;
}

a > img{
height: 70px
}
a{
    height: 71px;
}
header > span 
{
    font-size: 40px;
    justify-self: center;
}

body{
   
    font-family: 'Nunito', sans-serif;
}



#Navegacao{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}


label {

    background-color: #B3001E;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
  }

#Conteiner-images
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    margin: auto;

}

#Conteiner-images > img
{
    align-self: center;
}